@tailwind base;
@tailwind components;
@tailwind utilities;

.form-check-input:checked[type='checkbox']:not(.toggle) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.form-switch .form-check-input {
  margin-top: 0.1rem;
  background-position: 0;
  background-repeat: no-repeat;
  transition: background-position 0.15s ease-in-out;
}

.form-switch .form-check-input:checked {
  background-position: 100%;
}

.form-switch .form-check-input:not(.toggle-dark-mode) {
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E');
  background-position: 0;
  transition: background-position 0.15s ease-in-out;
}

.form-switch .form-check-input:checked:not(.toggle-dark-mode) {
  background-position: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E');
}

.toggle-dark-mode {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjEwMDAiIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZGVzYz5DcmVhdGVkIHdpdGggRmFicmljLmpzIDMuNS4wPC9kZXNjPgo8ZGVmcz4KPC9kZWZzPgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+CjxnIHRyYW5zZm9ybT0ibWF0cml4KDYuNzA1MiAwIDAgNi43MDUyIDUwMC4wMDI4IDUwMC4wMDI4KSIgaWQ9IjgzMDk5OSI+CjxwYXRoIHN0eWxlPSJzdHJva2U6IG5vbmU7IHN0cm9rZS13aWR0aDogMDsgc3Ryb2tlLWRhc2hhcnJheTogbm9uZTsgc3Ryb2tlLWxpbmVjYXA6IGJ1dHQ7IHN0cm9rZS1kYXNob2Zmc2V0OiAwOyBzdHJva2UtbGluZWpvaW46IG1pdGVyOyBzdHJva2UtbWl0ZXJsaW1pdDogNDsgaXMtY3VzdG9tLWZvbnQ6IG5vbmU7IGZvbnQtZmlsZS11cmw6IG5vbmU7IGZpbGw6IHJnYigyNTUsMjU1LDI1NSk7IGZpbGwtcnVsZTogbm9uemVybzsgb3BhY2l0eTogMTsiIHZlY3Rvci1lZmZlY3Q9Im5vbi1zY2FsaW5nLXN0cm9rZSIgdHJhbnNmb3JtPSIgdHJhbnNsYXRlKC02Ny41LCAtNjcuNSkiIGQ9Ik0gMTMyLjUgNjcuNSBDIDEzMi41IDEwMy4zOTkgMTAzLjM5OSAxMzIuNSA2Ny41IDEzMi41IEMgMzEuNjAxNSAxMzIuNSAyLjUgMTAzLjM5OSAyLjUgNjcuNSBDIDIuNSAzMS42MDE1IDMxLjYwMTUgMi41IDY3LjUgMi41IEMgMTAzLjM5OSAyLjUgMTMyLjUgMzEuNjAxNSAxMzIuNSA2Ny41IFoiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L2c+CjxnIHRyYW5zZm9ybT0ibWF0cml4KDEuNDUxMiAwIDAgMS40NTEyIDQ5OS45OTM0IDQ5OS45OTM0KSIgaWQ9Ijk3NzE2OSI+CjxwYXRoIHN0eWxlPSJzdHJva2U6IG5vbmU7IHN0cm9rZS13aWR0aDogMTsgc3Ryb2tlLWRhc2hhcnJheTogbm9uZTsgc3Ryb2tlLWxpbmVjYXA6IGJ1dHQ7IHN0cm9rZS1kYXNob2Zmc2V0OiAwOyBzdHJva2UtbGluZWpvaW46IG1pdGVyOyBzdHJva2UtbWl0ZXJsaW1pdDogNDsgaXMtY3VzdG9tLWZvbnQ6IG5vbmU7IGZvbnQtZmlsZS11cmw6IG5vbmU7IGZpbGw6IHJnYigxMTMsMTEzLDEyMik7IGZpbGwtcnVsZTogbm9uemVybzsgb3BhY2l0eTogMTsiIHZlY3Rvci1lZmZlY3Q9Im5vbi1zY2FsaW5nLXN0cm9rZSIgdHJhbnNmb3JtPSIgdHJhbnNsYXRlKC0yNTYsIC0yNTYpIiBkPSJNIDM2MS41IDEuMiBjIDUgMi4xIDguNiA2LjYgOS42IDExLjkgTCAzOTEgMTIxIGwgMTA3LjkgMTkuOCBjIDUuMyAxIDkuOCA0LjYgMTEuOSA5LjYgcyAxLjUgMTAuNyAtMS42IDE1LjIgTCA0NDYuOSAyNTYgbCA2Mi4zIDkwLjMgYyAzLjEgNC41IDMuNyAxMC4yIDEuNiAxNS4yIHMgLTYuNiA4LjYgLTExLjkgOS42IEwgMzkxIDM5MSBMIDM3MS4xIDQ5OC45IGMgLTEgNS4zIC00LjYgOS44IC05LjYgMTEuOSBzIC0xMC43IDEuNSAtMTUuMiAtMS42IEwgMjU2IDQ0Ni45IGwgLTkwLjMgNjIuMyBjIC00LjUgMy4xIC0xMC4yIDMuNyAtMTUuMiAxLjYgcyAtOC42IC02LjYgLTkuNiAtMTEuOSBMIDEyMSAzOTEgTCAxMy4xIDM3MS4xIGMgLTUuMyAtMSAtOS44IC00LjYgLTExLjkgLTkuNiBzIC0xLjUgLTEwLjcgMS42IC0xNS4yIEwgNjUuMSAyNTYgTCAyLjggMTY1LjcgYyAtMy4xIC00LjUgLTMuNyAtMTAuMiAtMS42IC0xNS4yIHMgNi42IC04LjYgMTEuOSAtOS42IEwgMTIxIDEyMSBMIDE0MC45IDEzLjEgYyAxIC01LjMgNC42IC05LjggOS42IC0xMS45IHMgMTAuNyAtMS41IDE1LjIgMS42IEwgMjU2IDY1LjEgTCAzNDYuMyAyLjggYyA0LjUgLTMuMSAxMC4yIC0zLjcgMTUuMiAtMS42IHogTSAzNTIgMjU2IGMgMCA1MyAtNDMgOTYgLTk2IDk2IHMgLTk2IC00MyAtOTYgLTk2IHMgNDMgLTk2IDk2IC05NiBzIDk2IDQzIDk2IDk2IHogbSAzMiAwIGMgMCAtNzAuNyAtNTcuMyAtMTI4IC0xMjggLTEyOCBzIC0xMjggNTcuMyAtMTI4IDEyOCBzIDU3LjMgMTI4IDEyOCAxMjggcyAxMjggLTU3LjMgMTI4IC0xMjggeiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjwvZz4KPC9zdmc+');
}

.toggle-dark-mode:checked {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjEwMDAiIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZGVzYz5DcmVhdGVkIHdpdGggRmFicmljLmpzIDMuNS4wPC9kZXNjPgo8ZGVmcz4KPC9kZWZzPgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+CjxnIHRyYW5zZm9ybT0ibWF0cml4KDYuNzA1MiAwIDAgNi43MDUyIDUwMCA1MDApIiBpZD0iNTk3Njc5Ij4KPHBhdGggc3R5bGU9InN0cm9rZTogbm9uZTsgc3Ryb2tlLXdpZHRoOiAwOyBzdHJva2UtZGFzaGFycmF5OiBub25lOyBzdHJva2UtbGluZWNhcDogYnV0dDsgc3Ryb2tlLWRhc2hvZmZzZXQ6IDA7IHN0cm9rZS1saW5lam9pbjogbWl0ZXI7IHN0cm9rZS1taXRlcmxpbWl0OiA0OyBpcy1jdXN0b20tZm9udDogbm9uZTsgZm9udC1maWxlLXVybDogbm9uZTsgZmlsbDogcmdiKDI1NSwyNTUsMjU1KTsgZmlsbC1ydWxlOiBub256ZXJvOyBvcGFjaXR5OiAxOyIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIiB0cmFuc2Zvcm09IiB0cmFuc2xhdGUoLTY3LjUsIC02Ny41KSIgZD0iTSAxMzIuNSA2Ny41IEMgMTMyLjUgMTAzLjM5OSAxMDMuMzk5IDEzMi41IDY3LjUgMTMyLjUgQyAzMS42MDE1IDEzMi41IDIuNSAxMDMuMzk5IDIuNSA2Ny41IEMgMi41IDMxLjYwMTUgMzEuNjAxNSAyLjUgNjcuNSAyLjUgQyAxMDMuMzk5IDIuNSAxMzIuNSAzMS42MDE1IDEzMi41IDY3LjUgWiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjwvZz4KPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS43MDQ5IDAgMCAxLjcwNDkgNDk5Ljk5MDggNDk5Ljk4OTMpIiBpZD0iMTUwMjU2Ij4KPHBhdGggc3R5bGU9InN0cm9rZTogbm9uZTsgc3Ryb2tlLXdpZHRoOiAxOyBzdHJva2UtZGFzaGFycmF5OiBub25lOyBzdHJva2UtbGluZWNhcDogYnV0dDsgc3Ryb2tlLWRhc2hvZmZzZXQ6IDA7IHN0cm9rZS1saW5lam9pbjogbWl0ZXI7IHN0cm9rZS1taXRlcmxpbWl0OiA0OyBpcy1jdXN0b20tZm9udDogbm9uZTsgZm9udC1maWxlLXVybDogbm9uZTsgZmlsbDogcmdiKDExMywxMTMsMTIyKTsgZmlsbC1ydWxlOiBub256ZXJvOyBvcGFjaXR5OiAxOyIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIiB0cmFuc2Zvcm09IiB0cmFuc2xhdGUoLTE5Mi4wNzIyLCAtMjU2KSIgZD0iTSAyMjMuNSAzMiBDIDEwMCAzMiAwIDEzMi4zIDAgMjU2IFMgMTAwIDQ4MCAyMjMuNSA0ODAgYyA2MC42IDAgMTE1LjUgLTI0LjIgMTU1LjggLTYzLjQgYyA1IC00LjkgNi4zIC0xMi41IDMuMSAtMTguNyBzIC0xMC4xIC05LjcgLTE3IC04LjUgYyAtOS44IDEuNyAtMTkuOCAyLjYgLTMwLjEgMi42IGMgLTk2LjkgMCAtMTc1LjUgLTc4LjggLTE3NS41IC0xNzYgYyAwIC02NS44IDM2IC0xMjMuMSA4OS4zIC0xNTMuMyBjIDYuMSAtMy41IDkuMiAtMTAuNSA3LjcgLTE3LjMgcyAtNy4zIC0xMS45IC0xNC4zIC0xMi41IGMgLTYuMyAtMC41IC0xMi42IC0wLjggLTE5IC0wLjggeiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjwvZz4KPC9zdmc+');
}

.stepper-step:not(:last-child):after {
  position: absolute;
  left: 0.8rem;
  height: calc(100% - 2.45rem);
  top: 1.6rem;
  width: 1px;
  margin-top: 0.5rem;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
}

.template-container,
.site-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
